<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="IEClass" providerName="System.Data.SqlClient" connectionString="Data Source=10.15.43.90;Initial Catalog=MIEClass;User ID=MIEClass_admin;Password=zmnv3zgt;"/>
  </connectionStrings>
  <appSettings>
    <add key="FCKeditor:BasePath" value="~/kfckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/Files/"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <compilation debug="false" targetFramework="4.0"/>
    <httpRuntime executionTimeout="600" maxRequestLength="51200"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.codedom/>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>